@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.content {
	margin: 50px auto;
	width: 960px;
	display: flex;
	justify-content: space-between;
}

.wrap {
	border: solid 1px #f3f3f3;
	width: 300px;
	position: relative;
}

.sign {
	position: absolute;
	background-color: #f3994a;
	color: #fefbf9;
	left: 0;
    top: 0;
    padding: 3px;
}

.wrap h1 {
	/*margin-left: 10px;*/
	font-size: 19px;
}

.container {
	margin: 10px;
}

img {
	/*margin: 10px 10px 0 10px;*/
	width: 280px;
}

.img {
	/*width: 280px;*/
	/*background-size: cover;
	background-position: bottom;*/
}

/*.img:nth-child(1) {
	background-image: url("img/flow01.png");
}

.img:nth-child(2) {
	background-image: url("img/flow02.png");
}

.img:nth-child(3) {
	background-image: url("img/flow03.png");
}*/